<ion-header class="ion-no-border" [ngClass]="currentSubPage == 0 ? 'invisible': ''">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="currentSubPage = 0">
        <ion-icon color="primary" style="font-size: 24px;" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding" size-md="6" offset-md="3">
        <div class="ion-text-center logo">
          <img src="assets/logo/logo.svg" alt="">
          <h3 class="subPageTitle">
            {{title}}
          </h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding" size-md="6" offset-md="3">
        <app-signIn (signInFormEmitter)="signIn($event)" (changeSubPageEmitter)="changeSubPage($event)"
          (changeTitleEmitter)="changeTitle($event)" *ngIf="currentSubPage == 0"></app-signIn>
        <app-signUp (signUpFormEmitter)="signUp($event)" (changeSubPageEmitter)="changeSubPage($event)"
          (changeTitleEmitter)="changeTitle($event)" *ngIf="currentSubPage == 1"></app-signUp>
        <app-forgottenPassword (forgottenPasswordFormEmitter)="forgottenPassword($event)"
          (changeTitleEmitter)="changeTitle($event)" *ngIf="currentSubPage == 2"></app-forgottenPassword>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>