@model Newtonsoft.Json.Schema.JSchema
@{
    ViewData["Title"] = "CreateRecipes";
    Layout = "~/Areas/Admin/Views/Shared/CMS_Layout.cshtml";
}

<h1>CreateRecipes</h1>

@using (Html.BeginForm("CreateRecipes", "CMS", new { area = "Admin" }, FormMethod.Post, true, new { id = "myForm" }))
{
    <input id="json" hidden name="json" value="" />
    <div id="jsoneditor" style="width: 100%; height: 600px;"></div>
    <button>Submit</button>
}
@section JS{
    <script type="text/javascript">
        let form = document.getElementById("myForm");
        form.addEventListener("submit", function (e) {
            e.preventDefault();
            let json = editor.get();
            let isValid = editor.validateSchema(json);
            if (isValid) {
                let jsonInputField = document.getElementById("json");
                jsonInputField.value = JSON.stringify(json);
                form.submit();
            }
        });

        const schema = @Html.Raw(Model);
        const container = document.getElementById("jsoneditor");
        const options = {
            schema: schema,
            mode: 'code'

        };
        const editor = new JSONEditor(container, options);
    </script>
}