<form [formGroup]="forgottenPasswordForm" (submit)="this.forgottenPasswordFormEmitter.emit(this.forgottenPasswordForm)">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <p class="ion-text-center">
          Indtast din e-mail så får du tilsendt<br/>
          et nyt password
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="email" placeholder="eksempel@email.dk">
          <mat-hint>*Påkrævet</mat-hint>
          <mat-error
            *ngIf="forgottenPasswordForm.get('email').invalid && !forgottenPasswordForm.get('email').hasError('required')">
            Indtast venligst en gyldig e-mail
          </mat-error>
          <mat-error *ngIf="forgottenPasswordForm.get('email').hasError('required')">
            E-mail er påkrævet
          </mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <button type="submit" class="full-width submitBtn" [disabled]="!forgottenPasswordForm.valid" mat-flat-button
          color="primary">Nulstil password</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>