<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/tabs/recipes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="recipeContainer" (click)="toggleDetails($event,recipe)" *ngFor=" let recipe of recipes">
    <div class="recipe">
      <div class="imageContainer">
        <img src="{{recipe.imageSrc}}"
          alt="">
      </div>
      <div class="contentContainer">
        <div class="content">
          <div class="title">
            {{recipe.title}}
          </div>

          <div class="label" [style.left.%]="recipe.matchedIngredientsCount/recipe.ingredients.length *100">
            {{recipe.matchedIngredientsCount}} / {{recipe.ingredients.length}}
          </div>
          <div class="progressBar">
            <div class="background">
            </div>
            <div class="foreground" [style.width.%]="recipe.matchedIngredientsCount/recipe.ingredients.length *100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>