<div mat-dialog-title class="titleContainer">
  <div class="title">
    <mat-icon class="mat-icon-vertical-center-left favBtn" ngClass="{{recipe.isFavorite ? 'active':''}}" (click)="toggleFavorite(recipe)"> {{recipe.isFavorite? 'favorite':'favorite_border'}}</mat-icon>
    {{recipe.title}}
  </div>
</div>
<mat-dialog-content>
  <div class="label">
    <span class="labelText">Du har&nbsp;</span>{{recipe.matchedIngredientsCount}}/{{recipe.ingredients.length}}<span
      class="labelText">&nbsp;ingredienser</span>
  </div>
  <div class="ingredientsContainer">
    <div class="ingredients">
      <div class="ingredient" *ngFor="let item of recipe.ingredients">
          {{item.name}}
          <mat-icon class="mat-icon-vertical-center-right" *ngIf="item.isMatch">
            check</mat-icon>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="submit" class="full-width" mat-flat-button (click)="goToUrl(recipe.url)" color="primary">Gå
    til hjemmeside</button>
</mat-dialog-actions>
