/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "src/assets/scss/modules/_fonts.scss";

@import "src/assets/scss/modules/_variables.scss";


.snackBarError {
    background-color: var(--ion-color-danger);
    color: white;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;

    .mat-simple-snackbar-action {
        color: white !important;
    }
}

.snackBarSuccess {
    background-color: var(--ion-color-success);
    color: white;

    .mat-simple-snackbar-action {
        color: white !important;
    }
}

#kitchenCupboard .mat-slider {
    margin: 0 8px;

    .mat-slider-thumb {
        background-color: var(--ion-color-primary) !important;
        transform: scale(1) !important;
        border: none !important;
    }

    .mat-slider-track-fill {
        background-color: var(--ion-color-secondary) !important;
    }
}


@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.full-width {
    width: 100%;
}

mat-form-field {
    margin-top: 8px;
}

mat-hint,
mat-error {
    line-height: 14px;
}

// ion-segment-button {
//     --indicator-color: $error-color;
// }

.invisible {
    visibility: hidden;
}

.logo {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.subPageTitle {
    font-family: 'Jost-Bold';
    font-size: 18px;
    line-height: 18px;
    height: 18px;
}

button.homeSubmitBtn {
    margin-top: 32px;
}

button.submitBtn,
button.homeSubmitBtn {
    height: 48px;
}

.forgotPasswordBtn,
.createUserBtn {
    text-decoration: none;
    font-size: 12px;
}

.forgotPasswordBtn {
    color: #707070
}

.termsOfService {
    font-size: 10px;
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.lds-ring div {
    left: 8px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




.md.title-default {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}

.mat-snack-bar-handset {
    margin-bottom: 56px !important;
}

.mat-chip {
    border: 2px solid var(--ion-color-secondary);
    background-color: transparent !important;
    color: var(--ion-color-secondary) !important;

    &.disabled {
        border: 2px solid var(--ion-color-light);
        background-color: transparent !important;
        color: var(--ion-color-light) !important;
    }

    .mat-icon {
        font-size: inherit;
        width: auto;
        height: auto;
        margin-left: 16px;
        color: var(--ion-color-light);
    }

}

.mat-standard-chip:focus::after {
    opacity: 0 !important;
}

