<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center"> 
        Bruger
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment >
    <ion-segment-button value="friends">
      <mat-icon>battery_full</mat-icon>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <mat-icon>settings</mat-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-button expand="block" routerLink="/home" >
    Go to Home
  </ion-button>
</ion-content>